body {
    margin: 0;
}

header {
    height: 80px;
    box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
}

header a {
    margin-right: 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(73, 73, 73);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
}

header a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    word-spacing: 1.4px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

header a:hover {
    background-color:rgba(73, 73, 73, 0.411);
}

.create-form {

}