body {
    margin: 0;
    background-color: whitesmoke;
}

header {
    height: 80px;
    box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
}

header a {
    margin-right: 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(73, 73, 73);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 650;
}

header a:hover {
    background-color:rgba(73, 73, 73, 0.411);
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
    color: white;
}

button {
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 650;
    color: white;
    background-color: rgb(73, 73, 73);
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    filter: drop-shadow(0 0 8px rgb(61, 61, 61));
}

.menu-container {
    margin-top: 50px;
}

.create-form {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.join-form {
   display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.delete-form {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.menu-container input {
    margin: 10px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#message {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-content: center;
}

#room-id {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-content: center;
}

#keep-room-id-note {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-content: center;
}

