header {
    height: 85px;
    box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

header a {
    margin-right: 20px;
    margin-left: 20px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(73, 73, 73);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 650;
    color: #ffffff;
    cursor: default;
    transition: all 0.1s ease;
}

header a:hover {
    background-color:rgb(85, 85, 85);
    border: 1px solid black;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

h2 {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    margin: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    background-color: rgb(73, 73, 73);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 650;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    filter: drop-shadow(0 0 8px rgb(61, 61, 61));
}

.menu-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.menu-container input {
    margin: 10px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-form {
    margin-right: 30px;
    padding: 20px;
    border: 4px solid rgb(73, 73, 73);
    border-radius: 15px;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join-form {
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border: 4px solid rgb(73, 73, 73);
    border-radius: 15px;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delete-form {
    padding: 20px;
    margin-left: 30px;
    border: 4px solid rgb(73, 73, 73);
    border-radius: 15px;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-form button, .join-form button, .delete-form button {
    margin-top: 30px;
    align-self: center;
}

input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
}

#message {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-self: center;
}

#room-id {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-self: center;
}

#keep-room-id-note {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-self: center;
}

#github-mark {
    background-color: whitesmoke;
    border: unset;
}