# Ignoriert den Ordner für virtuelle Umgebungen (venv)
venv/
# Ignoriert den Ordner für virtuelle Umgebungen (env)
env/
# Ignoriert den Ordner für virtuelle Umgebungen (.venv)
.venv/
# Ignoriert den Ordner für virtuelle Umgebungen (.env)
.env/

# Ignoriert Backup-Dateien der Python-Version
.python-version.bak

# Ignoriert den Cache-Ordner von Python
__pycache__/
# Ignoriert kompilierte Python-Dateien
*.pyc

# Ignoriert den Konfigurationsordner von JetBrains IDEs
.idea/

# Ignoriert die Datei für Umgebungsvariablen
.env
# Ignoriert die lokale Datei für Umgebungsvariablen
.env.local

# Ignoriert den Ordner für Node.js-Abhängigkeiten
node_modules/

# Ignoriert die SQLite-Datenbankdatei
backend/database/database.db

# Ignoriert die Systemdatei von macOS
.DS_Store