# Virtual Environments (die eigentlichen Umgebungen)
venv/
env/
.venv/
.env/

# pyenv
.python-version.bak

# Dependencies
__pycache__/
*.pyc

# IDE
.idea/

# Environment Variables
.env
.env.local

# Frontend 
node_modules/