services:
  backend:
    build:
      context: backend/
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
  frontend:
    build:
      context: frontend/
      dockerfile: Dockerfile
    ports:
      - "5174:5173"